<span class="page-title">Anime</span>
<div class="filters-container">
  <div class="status-filter-container">
    <span>Status Filter:</span>
    <input class="filter-input" [(ngModel)]="statusFilter" />
    <button class="filter-button" (click)="filterStatus()">Filter</button>
  </div>

  <div class="genre-filter-container">
    <span>Genre Filter:</span>
    <input class="filter-input" [(ngModel)]="genreFilter" />
    <button class="filter-button" (click)="filterGenre()">Filter</button>
  </div>
</div>

<table cellspacing="0">
  <tr>
    <th>
      <div class="header-container">Id</div>
    </th>
    <th>
      <div class="header-container header-clickable" (click)="switchSortOrder('title')">
        <span>Title</span>
        <span class="material-icons" [class.header-pointer]="sortDetails.title == undefined">
          {{ sortDetails.title ? sortDetails.title : "arrow_drop_up" }}
        </span>
      </div>
    </th>
    <th><div class="header-container">Synopsis</div></th>
    <th>
      <div class="header-container header-clickable" (click)="switchSortOrder('status')">
        <span>Status</span>
        <span class="material-icons" [class.header-pointer]="sortDetails.status == undefined">
          {{ sortDetails.status ? sortDetails.status : "arrow_drop_up" }}
        </span>
      </div>
    </th>

    <th><div class="header-container">Genre</div></th>
  </tr>

  <tr *ngFor="let anime of filteredAnimes">
    <td>{{ anime.id }}</td>
    <td>{{ anime.title }}</td>
    <td>{{ anime.synopsis }}</td>
    <td>{{ anime.status.value }}</td>
    <td>{{ getGenreString(anime.genres) }}</td>
  </tr>
</table>
