<div>Create Anime</div>
<div>Id: {{ anime.id }}</div>
<div>
  <span>Title:</span>
  <input [(ngModel)]="anime.title" />
</div>
<div>
  <span>Synopsis:</span>
  <textarea [(ngModel)]="anime.synopsis"></textarea>
</div>
<div class="status-filter-container">
  <span>Status:</span>
  <select class="filter-input" [(ngModel)]="anime.status">
    <option *ngFor="let status of statuses" [ngValue]="status">{{ status.value }}</option>
  </select>
</div>

<div class="genre-select-container">
  <span>Genre Filter:</span>
  <div class="select-container" tabindex="-1">
    <span class="select-input select-genre-string">{{ getGenreString(anime.genres) }}</span>

    <div class="genre-select" [class.genre-select-visible]="isGenreSelectVisible">
      <input class="select-input" [(ngModel)]="genreInput" (ngModelChange)="updateGenres($event)" />

      <div class="selected-genre" *ngFor="let selectedGenre of anime.genres">
        {{ selectedGenre.title }}
        <span (click)="clickGenreOption(selectedGenre)" class="selected-genre-close">X</span>
      </div>
      <ng-container *ngFor="let genre of filteredGenres">
        <span (click)="clickGenreOption(genre)" *ngIf="!isSelectedGenre(genre)" class="select-option">
          {{ genre.title }}
        </span>
      </ng-container>
    </div>
  </div>
</div>
